POSTGRES_DB=odoo
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change-this-database-password
ODOO_ADMIN_PASSWORD=change-this-master-password
ODOO_DOMAIN=diligence.arusdigital.cloud
LETSENCRYPT_EMAIL=admin@arusdigital.cloud
ODOO_LOCAL_PORT=18069
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_SECRET_TOKEN=
ZOOM_HOST_EMAIL=
